name: Configuration Tester

on:
  push:
  pull_request:
  schedule:
    - cron:  '0 */12 * * *'

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        version: [vx.x.x]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3
    steps:
     - name: Checkout repo
       uses: actions/checkout@v5.0.1
     - name: Setup Deno
       uses: denoland/setup-deno@v2.0.3
       with:
         deno-version: ${{ matrix.version }}
     - name: Run setup
       run: make setup
     - name: Run healthcheck
       run: make OPTS=--ci healthcheck
